manga_chapters
storage
data
dev
archive
*.log
*.txt
# ...but always track dependency manifests
!requirements.txt
!**/requirements.txt
remote
.venv
bot_token.txt
config.json
.env
# Ignore Python bytecode files
*.pyc

# Ignore __pycache__ directories
__pycache__/
PLAN.md

